menu "Balancing robot shield"
rsource "drivers/Kconfig"
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

module = APPLICATION_MODULE
module-str = application
source "subsys/logging/Kconfig.template.log_config"